st_platform_homepage:
    path:     /
    defaults: { _controller: STPlatformBundle:Trick:index }

st_platform_view:
    path: /trick/{id}/{slug}
    defaults: { _controller: STPlatformBundle:Trick:view }
    requirements:
        id: \d+
        slug: '[a-z\-]+'

st_platform_add:
    path: /trick/add
    defaults: { _controller: STPlatformBundle:Trick:add }

st_platform_edit:
    path: /trick/{id}/{slug}/edit
    defaults: { _controller: STPlatformBundle:Trick:edit }
    requirements:
        id: \d+
        slug: '[a-z\-]+'

st_platform_delete:
    path: /trick/{id}/{slug}/delete
    defaults: { _controller: STPlatformBundle:Trick:delete }
    requirements:
        id: \d+
        slug: '[a-z\-]+'